@font-face {
  font-family: "Santolo Beach";
  src: url(../font/SANTOLO\ BEACH.otf) format("opentype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.logo {
  font-family: "Santolo Beach";
  font-size: 80px;
}
body {
  background-image: url(../images/bodybackground.png);
  background-repeat: no-repeat;
  background-size: cover;
}

p {
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-style: oblique;
  text-align: center;
  padding: 10px 10px;
  color: royalblue;
}

h1 {
  font-size: 25px bold;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
  padding: 10px 10px;
  color: aliceblue;
}

li {
  font-size: 14px;
  text-align: center;
  padding: auto;
  margin-left: 2px;
  margin-right: 2px;
}
li :hover {
  color: black;
}
.customedNav {
  background-color: #326789;
  width: auto;
  border: 2px solid black;
  font-size: 20px;
  color: black !important;
  padding: 10px 10px;
  margin-right: 2px;
  margin-left: 2px;
  margin-bottom: 5px;
}
.navbar-bar {
  margin-left: auto;
  margin-right: 0 !important;
  list-style-type: none;
}
@media (min-width: 900px) {
  .navbar-bar {
    display: flex;
    justify-content: space-between;
  }
  .customedNav {
    height: 100px;
  }
}
.nav-item {
  text-decoration: none;
}
.Hero {
  background-image: url(../images/background.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  height: 350px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  padding-top: 40px;
  margin: auto;
}
.content {
  padding: 50px;
}

.cardContainer {
  text-align: center;
}
#AboutMe-Contact {
  padding-top: 40px;
  margin-top: 20px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-content: center;
  border: 10px solid blueviolet;
}
h2,
h4 {
  border-radius: 20px;
  font-size: 30px;
  width: 40%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-style: italic;
  background-color: black;
  padding-bottom: 5px;
  text-align: center;
  color: cornflowerblue;
}
#aboutMe-contact img {
  padding: 10px 10px 10px 10px;
  margin: 20px 20px 20px 20px;
}

h6 {
  font-family: "Santolo Beach";
  font-size: 20px;
  text-align: center;
  height: 60px;
  width: 200px;
  background: #f4f1f1;
  border-radius: 15px;
  margin: 20px;
  transition: all ease 0.1s;
  border: 1px solid rgb(238, 52, 52);
}
h6:hover {
  transform: translateY(5px);
  box-shadow: inset 0px 10px 20px 2px rgba(0, 255, 255, 0.7);
}
h3{
  font-size: 28px;
  font-family:"Santolo Beach";
  color: rgb(136, 179, 84);
  text-align: center;
}
.work-card, .card{
 margin-bottom: 30px;
}

